other-pages
!assets/images/logo.jpeg
!assets/images/logo(og).jpeg
!assets/images/lines/


!assets/images/new-bg/
!assets/images/icons/
!assets/images/button/
!assets/images/custom-line/
!assets/images/about/
!assets/images/bg/
assets/images/bg/*
!assets/images/bg/bg-footer.png
!assets/images/from-fb
!assets/images/projects